/* Google font */
* {
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 500 700;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "FLAR" 0,
      "VOLM" 0;
  }

body {
    background-color: rgba(177, 177, 177, 0.1);
}

.card-background {
    background-color: white;
    border-radius: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Buttons */
.btn {
    padding: 15px 35px;
    border: none;
    border-radius: 35px;
    color: white;
    font-weight: 700;
    position: relative;
    cursor: pointer;
}

.background-green {
    background-color: rgba(60, 179, 171, 1);
}

.backgroud-grey {
    background-color:rgba(177, 177, 177, 1);
}
.btn-bookmark {
    background-color: rgba(199, 199, 199, 0.271);
}

.bookmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.bookmark-text {
    padding-left: 20px;
}

/* Header */

.logo {  
    color: white;
}

.navbar {
    padding: 0;
    margin: 0;
}

.header-row {
    position:absolute;
    display: flex;
    align-items: center;
    margin: 10px 40px;
    justify-content: space-between;
    top: 50px;
    width: -webkit-fill-available;
}

.header-background {
    width: 100%;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white; 
}

/* Project Intro Section */

.project-riser {
    position: relative;
    text-align: center;
    padding: 25px;
}

.project-logo {
    display: flex;
    align-content: center;
    justify-content: center;
}

.buttons-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

/* Counter Section */

.counter-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 245px;
}

.vl {
    border-left: 2px solid rgba(177, 177, 177, 1);
    height: 10px;
    
}

.group {
    width: 60%;
    text-align: justify;
    position: absolute;
    padding-top: 30vh;
}

/* About section */

.about {
    position: relative;
    align-items: center;

}


