/* Google font & Generals */
* {
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 500 700;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "FLAR" 0,
      "VOLM" 0;
  }

body {
    background-color: rgba(177, 177, 177, 0.1);
}

.card-background {
    background-color: white;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Buttons */
.btn {
    padding: 15px 35px;
    border: none;
    border-radius: 35px;
    color: white;
    font-weight: 700;
    position: relative;
    cursor: pointer;
}

.background-green {
    background-color: rgba(60, 179, 171, 1);
}

.backgroud-grey {
    background-color:rgba(177, 177, 177, 1);
}

.btn-bookmark {
    background-color: rgba(199, 199, 199, 0.271);
}

.btn-out-of-stock {
    background-color: rgb(41 39 39 / 27%);

}

.bookmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.bookmark-text {
    padding-left: 20px;
    color: rgb(83, 81, 81);
}

/* Header */

.logo {  
    color: white;
}

.navbar {
    padding: 0;
    margin: 0;
}

.header-row {
    position:absolute;
    display: flex;
    align-items: center;
    margin: 10px 40px;
    justify-content: space-between;
    top: 50px;
    width: -webkit-fill-available;
}

.header-background {
    width: 100%;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white; 
}

/* Project Intro Section */

.project-riser {
    position: relative;
    text-align: center;
    padding: 25px;
}

.project-logo {
    display: flex;
    align-content: center;
    justify-content: center;
}

.buttons-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

/* Counter Section */

.counter-group {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    /* justify-content: space-evenly;
    padding: 20px 245px; */ */
}

.counter-item {
    width: 100%;
    text-align: center; 
}


.vl {
    border-left: 2px solid rgba(177, 177, 177, 1);
    height: 78px;
    
}

.group {
    width: 60%;
    text-align: justify;
    position: absolute;
    padding-top: 30vh;
    
}

.progress-bar {
    margin-top: 25px;
    background-color: rgb(211, 211, 211);
    width: 100%;
    height: 10px;
    border-radius: 5px;
}

.progress {
    width: 89.9%;
    height: 10px;
    background-color: rgb(60, 180, 172);
    border-radius: 5px;
}

.progress-bar-row {
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 50px;

}


/* About section */

.about {
    position: relative;
    align-items: center;
    padding: 25px;

}

.about p {
    width: 100%;
}

/* Pledge section */

.pledge-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
/* Pledge card */

.pledge-item {
    box-shadow: 0px 0px 1px  rgba(177, 177, 177, 1);
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
}

.pledge-top-right {
    color: rgba(60, 179, 171, 1);
    font-weight: 500;
    font-size: 80%;

}

.stock-number {
    font-weight: 700;
    font-size: 130%;
}

.stock-text {
    vertical-align: text-top;
    font-size: 85%;
    padding-left: 5px;

}

.pledge-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.pledge-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.out-of-stock {
    opacity: 0.5;
    pointer-events: none;
}

/* Modal Default */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
.modal.modal-show {
animation: fadeIn 0.1s ease-in-out forwards;
}
.modal.modal-hide {
animation: fadeOut 0.1s ease-in-out 0.1s forwards;
}
.modal-content {
position: relative;
background-color: #fff;
margin: 2rem;
padding: 2rem;
border-radius: 0.25rem;
width: 50%;
max-height: 75%;
overflow: auto;
box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}
.modal.modal-show .modal-content {
animation: fadeInDown 0.3s ease-in-out forwards;
}
.modal.modal-hide .modal-content {
animation: fadeOutUp 0.2s ease-in-out forwards;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0 0.75rem;
    color: rgba(0,0,0,0.2);
    cursor: pointer;
    user-select: none;
}

/* Responsiveness */
@media(max-width: 992px) {
    html { font-size: 14px; }
    .modal-content { width: 80%; }
}
  @media(max-width:767px) {
    html { font-size: 12px; }
    .modal-content { padding: 2rem 1rem 1rem 1rem; width: 90%; }
}


.modal-header {
    display: grid;
    border: none;
}

.modal-body {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
}

.pledge-modal-item {
    border: 1px solid rgba(177, 177, 177, 1);
    border-radius: 5px;
    height: 140px;
    overflow: hidden;
    display: grid;
    
}

.title {

}

.amount {

}

.info {

}

.unavailable {
    
}